body { width:100%;
    background-image: url('background.jpg');
    margin: auto}
    
header {height: 75px;
        display: flex;
        align-items: center;
        justify-content: center; 
        font-family: 'silence_rockenregular', Arial, sans-serif;
        font-weight: bold;
        background: rgba(0,0,0,0.2)}

button {color: orchid;
    font-family: 'silence_rockenregular', Arial, sans-serif;
    text-decoration: none;
    padding: 10px;
    font-size: 40px;;
    border: none;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    background: rgba(0,0,0,0)
    }

button:hover {
	background: rgba(0,0,0,0);
	color: #3a7999;
}
#nikelogo {height: 60px;
width: auto;
background: rgba(0,0,0,0);
position: fixed;
top: 0px;
left: 0px}

@media only screen and (min-device-width:320px) and (max-device-width:480px) {body { 
    background: #999;
    width: 100%
}}